<app-header></app-header>
<div id="video">
  <i class="fas fa-play-circle"></i>
</div>
<div id="description">
  <div class="main">
    Do you want to learn new skills to improve your life?
  </div>
  <div class="text">
    Learn how to improve your skills to get a new world of possibilities in your life. Watch the video in which Clare will guide you through this quick and easy experience.
  </div>
  <div class="features">
    <div class="d-flex flex-row justify-content-around">
      <div class="flex-column justify-content-center">
          <div class="icon"><i class="fas fa-key"></i></div>
          <div class="text">Private</div>
      </div>
      <div class="flex-column justify-content-center">
          <div class="icon"><i class="fas fa-shield-alt"></i></div>
          <div class="text">Safe</div>
      </div>
      <div class="flex-column justify-content-center">
          <div class="icon"><i class="fas fa-lock"></i></div>
          <div class="text">Secure</div>
      </div>
      <div class="flex-column justify-content-center">
          <div class="icon"><i class="fas fa-chart-line align-self-center"></i></div>
          <div class="text">Outcome</div>
      </div>
    </div>
  </div>
</div>
