@import '../../../../style/_imports.scss';

#description {
  text-align: center;
  padding: 20px;
  @include setStyleTablet {
    padding: 30px 20px;
  }
  
  .main {
    padding: 10px;
    font-size: 150%;
    font-weight: 400;
  }

  .text {
    text-align: center;
    padding: 0px 20px;
    @include setStyleTablet {
      padding: 10px 20px;
    }
  }

  .features.container-fluid {
    padding: {
      right: 0;
      left: 0;
    };
  }

  .features {
    margin-top: 10px;
    img {
      padding: 10px;
      width: 80px;
      @include setStyleTablet {
        width: 160px;
      }
    }
    .text {
      padding-top: 10px;
      font-size: 60%;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1px;
      @include setStyleTablet {
        font-size: 90%;
        font-weight: 600;
      }
    }
  }
}

.partners {
  img {
    max-height: 70px;
    @include setStyleTablet {
      max-height: 110px;
    }
  }
}
