<app-header text='default'></app-header>
<app-media [resource]=currentResource [replay]=addReplay></app-media>
<div id="description">
  <button *ngIf='!isVideoLoaded' class="button special" id="how-to-use" type="button" mdbBtn mdbWavesEffect (click)="loadVideo()">
    How to use
  </button>
  <div class="main heading">
    Discover your skills and strengths
  </div>
  <div class="text">
    The app will help find courses/learning options that match your skills and you can decide what is right for you
  </div>
  <div class="container-fluid">
    <div class="row features">
      <div class="col-4 feature" *ngFor="let feature of FEATURES">
        <div [ngClass]="feature.color" class="row icon box shadows gradient">
          <img src="{{ feature.icon }}" onerror="this.remove()">
        </div>
        <div class="row text">
          {{ feature.text }}
        </div>
      </div>
    </div>
  </div>
  <!-- <div class="features d-flex flex-row justify-content-around">
    <div class="flex-column feature" *ngFor="let feature of FEATURES">
      <div [ngClass]="feature.color" class="icon box shadows gradient"><img src="{{ feature.icon }}" onerror="this.remove()"></div>
      <div class="text flex-grow-0">{{ feature.text }}</div>
    </div>
  </div> -->
  <div class="main heading">
    It's quick - All in less than 10 minutes!
  </div>
</div>
<app-navigate-button text="Get started" (event)="onClick()"></app-navigate-button>
