@import '../../../../style/_imports.scss';


#media-container {
  position: relative;
}

.button {
  @include setStyleSmall { 
    border-radius: 20px;
    font-size: 80%;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }
}

.heading {
  font-size: 175%;
}

.subheading {
  @include setStyleSmall {
    font-size: 100%;
  }
}

.text {
  text-align: center;

  @include setStyleSmall {
    font-size: 100%;
  }
}

#how-to-use {

  position: absolute;
  z-index: 1;

  bottom: 15%;

  @include setStyleSmall {
    right: 15%;
  }
  
  right: 20%;
}

.subheading {
    padding: 2vh;
  }

.box {
  font-size: 8vh;
  @include setStyleSmall {
    font-size: 6vh;
  }
  color: #2E3C67;
  padding: 5px;
  width: 20vw;
  max-width: 200px;
  text-align: center;
}

#description {
  text-align: center;
  padding: 0px 20px 20px;
  @include setStyleTablet {
    padding: 0px 30px 20px;
  }
  
  .main {
    padding: 10px;
    //font-size: 150%;
    font-weight: 400;
  }

  .text {
    text-align: center;
    padding: 0px 20px;
    @include setStyleTablet {
      padding: 0px 20px;
    }
  }

  .features.container-fluid {
    padding: {
      right: 0;
      left: 0;
    };
  }

  .features {
    margin-top: 10px;
    img {
      padding: 10px;
      width: 80px;
      @include setStyleTablet {
        width: 160px;
      }
    }
    .text {
      //padding-top: 10px;
      font-size: 60%;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1px;
      @include setStyleTablet {
        font-size: 90%;
        font-weight: 600;
      }
    }
  }
}

.partners {
  img {
    max-height: 40px;
    @include setStyleTablet {
      max-height: 70px;
    }
  }
}
