@import '../../../../style/_imports.scss';


.content {
  padding: 15px 20px;
  #header {
    .text {
      padding-top: 10px;
      text-align: center;
      font-size: 90%;
    }
  }
  hr, app-question {
    width: 100%;
  }
}
