<app-header [text]='!!category ? category.text : "default"' (customClick)='clickHeader()'></app-header>
<app-media *ngIf="!!scenario" [resource]='scenario.resource' replay=true></app-media>
<div class="content d-flex flex-column align-items-center text-center">
  <div id="header" *ngIf="!!scenario">
    <div class="heading">{{ scenario.text }}</div>
  </div>
  <hr>
  <app-question
  *ngIf="!!question"
  [(question)]="question"
  [(error)]="errorMessage"
  (answer)="processAnswer($event)"
  [initialAnswer]="currentAnswer"
  ></app-question>

</div>
<app-navigate-button
  backText="{{ btnBack }}"
  forwardText="{{ btnForward }}"
  (backEvent)="previousQuestion()"
  (forwardEvent)="nextQuestion()"
  ></app-navigate-button>
