@import '../../../../_imports.scss';

* {
  color: $color-font;
}

#video {
  width: 100vw;
  height: 170px;
  background-color: $color-grey;
  text-align: center;

  // Placeholder styling
  padding-top: 30px;
  font-size: 5em;
}

.content {
  margin: 30px 40px;
  font-size: 0.9em;
  #header {
    .description {
      padding: 10px 0 20px;
    }
  }
  .heading {
    font-size: 1.4em;
  }
}
