<app-header [text]='!!category ? category.text : "default"' (customClick)='clickHeader()'></app-header>
<app-media *ngIf="!!scenario" [resource]='scenario.resource' replay=true></app-media>
<div class="content d-flex flex-column align-items-center text-center">
  <div id="header" *ngIf="!!scenario">
    <div class="heading">{{ scenario.text }}</div>
  </div>
  <hr>
  <app-question
  *ngIf="!!question"
  [(question)]="question"
  [(error)]="errorMessage"
  (answer)="processAnswer($event)"
  [initialAnswer]="currentAnswer"
  ></app-question>

</div>
<app-navigate-button
  [buttons] = "[
  {
    text: btnBack,
    icon: '<',
    event: 'back'
  },
  {
    text: 'Skip scenario',
    icon: '>>',
    event: 'skip_scenario'
  },
  {
    text: 'Go to results',
    icon: '>',
    event: 'go_results'
  },
  {
    text: btnForward,
    icon: '>',
    event: 'forward'
  }
  ]"
  (buttonsEvent)='onButtonsEvent($event)'
  ></app-navigate-button>
