@import '../../../_imports.scss';


#course {
  padding: 20px 10px;
  margin-bottom: 20px;
  font-size: .8em;
  width: 100%;
  color: $color-font;
  text-align: left;
  font-weight: 700;
  .title {
    font-size: 1.6em;
    font-weight: 800;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  .text {
    color: $color-font-muted;
  }
  .more {
    color: $color-font;
    text-transform: uppercase;
    background-image: unset;
    background-color: $color-black-transparent;
  }
}
