@import '../../../_imports.scss';

#app-header {
  z-index: 1;
  color: $color-font;
  width: 100vw;
  height: $header-height;
  text-align: center;
  font-family: 'Roboto';
  @extend .green;
  @include setStyleTablet {
    height: 60px;
  }

  .title {
    cursor: pointer;
    font-weight: 800;
  }
}
