@import '../../../_imports.scss';

#app-header {
  z-index: 1;
  background-color: $color-header;
  color: $color-font;
  position: fixed;
  top: 0;
  width: 100vw;
  height: $header-height;
  text-align: center;
  font-family: 'Roboto';
  border-bottom: lightgray 1px solid;

  .more {
    position: absolute;
    left: 20px;
    cursor: pointer;
  }

  .title {
    cursor: pointer;
  }

  .skip {
    position: absolute;
    right: 20px;
    background-color: $color-background;
    padding: 2px 7px;
    border-radius: 5px;
    font-weight: 400;
    text-transform: uppercase;
    cursor: pointer;
  }
}
