@import '../../../../style/_imports.scss';

.container {
  padding-top: 20px;
  word-break: break-word;
}

#skill-container {
  height: 10vh;
  max-height: 150px;
  position: relative;
  color:#2E3C67;
}

.title {
  font-size: 170%;
  font-weight: 400;
  line-height: 10vh;
  margin-left: 2vw;
  @include setStyleTablet {
    font-size: 150%;
  }
}

.heading {
  padding: 2vh 0;
}

.vertical-center {
  position: absolute;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.float {
  float: left;
}

.icon-box {
  text-align: center;
  width: 10vh;
  max-width: 150px;
  max-height: inherit;
  min-width: 100px;
  line-height: 10vh;
  height: inherit;
}

.border {
  text-align: center;
  color: #2E3C67;

  border-style: solid;
  border-radius: 10%;
  margin:10px;
}

.course-info {
  padding: 2vh 0;
}

.static {
  padding-top: 2vh; 
}

.col {
  background-color: white;
}

.ng-fa-icon {
  font-size: 3em;  
}

.content, .extras {
  padding: 0 5vw;
}

@include setStyleTablet {
  .extras {
    padding-left: 0;
  }
}

@include setStyleLarge {
  .extras {
    padding: 0;
  }
  .content {
    padding-right: 50px;
  }
}

.content {
  .heading {
    margin-bottom: 30px;
    font-weight: 700;
  }
}

.extras {
  font-size: 80%;
  .extra {
    margin-bottom: 10px;
    > div {
      border-radius: 5px;
      > .heading {
        padding-left: 10px;
        background-color: $color-course-heading-background;
        border-bottom: 1px solid $color-course-border;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
      }
      > .texts {
        padding: 7px 10px;
      }
      border: 1px solid $color-course-border;
      background-color: $color-course-background;
    }
  }
}

.text {
  white-space: pre-line;
}

.text, .heading {
  font-size: 100%;
  @include setStyleTablet {
    font-size: 80%;
  }
}

.heading {
  text-align: left;
  font-weight: 600;
  @include setStyleTablet {
    font-size: 100%;
  }
}

span {
  display: inline-block;
}

hr {
  width: 100%;
  margin: 0;
  margin-top: 20px;
}