@import '../../../../_imports.scss';

.container {
  margin-top: $header-height * 2;
}

.heading {
  margin-top: 0;
}

.text, .extra .col-12 {
  margin-bottom: 70px;
  .font-weight-bold {
    white-space: break-spaces;
  }
}

.text {
  white-space: pre-line;
}

span {
  display: inline-block;
}
