<app-header text='default'></app-header>
<div class="container" *ngIf="!!course" id='content'>
  <div class="row">
    <div class="col-12 col-md-8">
      <div class="row">
        <div class="col-12 text">
          <div class="heading">{{ course.title }}</div>
          {{ course.description }}
        </div>
      </div>
    </div>
    <div class="col-12 col-md-4">
      <div class="row">
        <div class="col-12 extras">
          <div class="row" *ngIf="!!course.address || !!course.location">
            <div class="col-12 extra container">
              <div class="location">
                <div class="heading">Lokasjon</div>
                <div class="address text" *ngIf="!!course.address">Adresse: {{ course.address }}</div>
                <div class="county text" *ngIf="!!course.location">Besøk oss: {{ course.location[0].toUpperCase() + course.location.slice(1) }}</div>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="!!course.date_start || !!course.date_finish">
            <div class="col-12 extra container">
              <div class="schedule">
                <div class="heading">Schedule</div>
                <div class="date_start text" *ngIf="!!course.date_start">Startdato: {{ formatDate(course.date_start) }}</div>
                <div class="date_finish text" *ngIf="!!course.date_finish">Sluttdato: {{ formatDate(course.date_finish) }}</div>
              </div>
            </div>
          </div>
          <div class="row" *ngIf="!!course.enrolment_start || !!course.enrolment_start || !!course.contact_person || !!course.contact_attention || !!course.contact_telephone || !!course.contact_email">
            <div class="col-12 extra container">
              <div class="enrolment">
                <div class="heading">Enrolment</div>
                <div class="enrolment_start text" *ngIf="!!course.enrolment_start">Startdato: {{ formatDate(course.enrolment_start) }}</div>
                <div class="enrolment_finish text" *ngIf="!!course.enrolment_finish">Sluttdato: {{ formatDate(course.enrolment_finish) }}</div>
                <div class="contact_person text" *ngIf="!!course.contact_person">Contact: {{ course.contact_person }}</div>
                <div class="contact_attention text" *ngIf="!!course.contact_attention">Åpningstider: {{ course.contact_attention }}</div>
                <div class="contact_telephone text" *ngIf="!!course.contact_telephone">Telefon: {{ course.contact_telephone }}</div>
                <div class="contact_email text" *ngIf="!!course.contact_email">E-post: {{ course.contact_email }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div *ngIf="!!course.link; then thenBlock else elseBlock"></div>
<ng-template #thenBlock>
  <app-navigate-button
    backText="default"
    forwardText="More info"
    (backEvent)="goBack()"
    (forwardEvent)="loadLink(course.link)"
    ></app-navigate-button>
</ng-template>
<ng-template #elseBlock>
  <app-navigate-button
    text="default"
    (event)="goBack()"
    ></app-navigate-button>
</ng-template>