@import '../../../../_imports.scss';

#description {
  color: $color-font-dark;
  text-align: center;
  padding: 30px;

  .heading {
    margin-bottom: 30px;
  }
  .text {
    text-align: center;
    margin-bottom: 50px;
  }
  .muted {
    text-align: center;
  }
  .button {
    margin-bottom: 30px;
    background-image: linear-gradient($color-blue, $color-blue);
    padding: 0 60px;
    @include setStyleTablet {
      padding: 20px 100px;
    }
  }

}
