<app-header [text]='category.text'></app-header>
<app-media resource='how-to.mp4'></app-media>
<div id="description">
  <div class="heading">
    How to use
  </div>
  <div class="text">
    Learn how to use the SkillsChecker App to set your interests and to improve your skills watching the video above.
  </div>
  <div class="feedback">
    You have selected:
    <div class="interest">
      {{ selectedInterest }}
    </div>
  </div>
  <div class="d-flex justify-content-around">
    <button class="button" id="go" type="button" mdbBtn mdbWavesEffect (click)="btnClick()">Go</button>
  </div>
</div>
<app-navigate-button text="default" destination="interests"></app-navigate-button>
