@import '../../../../_imports.scss';

$separator-between-courses: 20px;


#content {
  padding: 0 20px;
}

.avatar > img {
  height: 150px;
}

#result {
  text-align: center;

  > .heading {
    color: $color-font;
    padding: 10px 0;
    font-size: 1.4em;
  }
  .support {
    margin-top: 10px;
    font-size: .95em;
  }
  a {
    color: $color-font;
    font-weight: 500;
  }
}

.dialog {
  color: $color-white;
  position: relative;
  background-color: $color-background-dark;
  border-radius: 5px;
  padding: 15px;
  margin-left: 15px;
  font-size: .9em;
  font-weight: 500;
}

.dialog:after {
	right: 100%;
	top: 70px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	border-right-color: $color-background-dark;
	border-width: 10px;
	margin-top: -10px;
}

hr {
  margin: 10px 0 20px;
}

#pathway {
  text-align: center;
  color: $color-font;
  .heading {
    font-size: 1.5em;
    color: $color-font;
    margin-bottom: 10px;
    > img {
      margin-right: 10px;
      height: .7em;
    }
  }
  .message {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 90%;
  }
  .recommendations{
    margin: 0 (-$separator-between-courses);
    background-color: $color-background-light;
    > .heading {
      width: 100%;
      clear: both;
      padding: 10px $separator-between-courses;
      margin-bottom: 20px;
      font-size: 1em;
      font-weight: 400;
      .text {
        float: left;
      }
      .all {
        float: right;
        cursor: pointer;
      }
    }
    .courses {
      overflow-x: scroll;
      overflow-y: hidden;
      .course {
        margin-bottom: 20px;
        background-color: $color-background-secondary;
        font-size: .8em;
        display: inline-block;
        width: 150px;
        margin-left: $separator-between-courses;
        > .text {
          padding: 20px 10px;
        }
        > .more {
          cursor: pointer;
          width: 100%;
          color: $color-font-light;
          background-color: $color-background-dark;
          padding: 10px;
          i {
            margin-right: 5px;
          }
        }
      }
    }
  }
  .localization {
    padding-top: 20px;
    text-align: center;
    width: 100%;
    .text{
      font-weight: 500;
    }
    .button {
      background-color: $color-background-dark;
      color: $color-font-light;
      i {
        margin-right: 10px;
      }
    }
  }
}

.holder{
  @include holder();
  clear: none;
}
