@import '../../../../_imports.scss';


#content {
  background: linear-gradient(to bottom, $color-background-colour, transparent 250px);
  padding: 20px 0px 30px;
}

.heading {
  margin-top: 0;
}

.avatar > img {
  height: 120px;
  padding-left: 20px;
}

#result {
  text-align: center;

  .container-fluid {
    padding-left: 0;
  }
  .support {
    margin-top: 10px;
    font-size: 95%;
    font-weight: 200;
    text-shadow: 0 5px 8px $color-font-dark ;
    text-align: center;
  }
  a {
    color: $color-font-link;
    font-weight: 600;
  }
}

.dialog {
  color: $color-font-dark;
  position: relative;
  background-color: $color-background;
  border-radius: 15px;
  box-shadow: 0 0 10px $color-background-dark;
  padding: 15px;
  margin-left: 10px;
  > .heading {
    font-size: 100%;
    font-weight: 600;
  }
  > .text {
    text-align: center;
    font-weight: 200;
  }
}

.dialog:after {
	right: 100%;
	top: 60px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	border-right-color: $color-background;
	border-width: 10px;
	margin-top: -10px;
}

.holder {
  margin: 10px 0 20px;
}

#pathway {
  .heading {
    color: $color-font-dark;
    font-size: 150%;
    margin-bottom: 10px;
    font-weight: 300;
    > img {
      margin-right: 10px;
      height: .7em;
    }
  }
  .message {
    text-align: center;
    margin-bottom: 20px;
    font-weight: 200;
    font-size: 90%;
  }
  .learning-oportunities{
    background-color: $color-background-secondary;
    padding: 10px 20px;
    .heading {
      margin-bottom: 10px;
      font-size: 100%;
      font-weight: 400;
      float: left;
    }
  }
  .localization {
    padding-top: 20px;
    text-align: center;
    color: $color-font-dark;
    .heading{
      font-size: 100%;
      padding-bottom: 20px;
      font-weight: 400;
    }
    .button {
      i {
        margin-right: 10px;
        font-size: 100%;
      }
    }
  }
}
