@import '../../../_imports.scss';

#buttons {
  background-image: linear-gradient(to top, $color-white 30%, transparent 100%);
  position: fixed;
  bottom: 0;
  width: 100vw;
  z-index: 301;
  .buttons {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    button {
      $lateral-padding: 8%;
      padding: 0 $lateral-padding;
      @include setStyleTablet {
        padding: 20px $lateral-padding;
      }
    }
  }
}
