@import '../../../_imports.scss';

.buttons {
  $bottom-separation: 30px;
  z-index: 1;
  width: 100vw;
  height: $bottom-height - $bottom-separation;
  position: fixed;
  bottom: $bottom-separation;
  background-color: transparent;
}
