@import '../../../_imports.scss';

.button {
  z-index: 1;
  width: 100vw;
  height: $bottom-height;
  position: fixed;
  bottom: 0;

  background-color: $color-button;
  color: $color-white;
  font-size: 1.3em;
}
