@import '../../../../_imports.scss';


.row {
  padding: 10px;
}

.category {
  padding: 0 7.5px;
  margin-bottom: 15px;
  .tile {
    position: relative;
    overflow: hidden;
    height: 150px;
    cursor: pointer;
    @include setStyleTablet {
      height: 250px;
    }
    .text {
      $separation: 15px;
      padding-top: $separation;
      padding-left: $separation;
      color: $color-font;
      letter-spacing: 1px;
      font-weight: 700;
      font-size: 110%;
      @include setStyleTablet {
        font-size: 130%;
      }
    }
    img {
      position: absolute;
      right: 0;
      bottom: 0;
      height: 100px;
      transform: rotate(-10deg);
      opacity: 70%;
      @include setStyleTablet {
        height: 180px;
      }
    }
  }
}
