@import '../../../../_imports.scss';


.row {
  padding: 10px;
}

.category {
  padding: 0 7.5px;
  color: $color-font;
  margin-bottom: 15px;
  .tile {
    position: relative;
    height: 150px;
    overflow: hidden;
    .text {
      $separation: 15px;
      padding-top: $separation;
      padding-left: $separation;
      font-size: 105%;
      letter-spacing: 1px;
      font-weight: 700;
    }
    img {
      position: absolute;
      right: 0;
      bottom: 0;
      height: 100px;
      transform: rotate(-10deg);
      opacity: 70%;
    }
  }
}
