@import '../../../../_imports.scss';

$separator-between-courses: 20px;


#content {
  padding: 0 20px;
  color: $color-font;
}

#header {
  text-align: center;
  .title {
    letter-spacing: 1px;
    font-size: 1.6em;
    padding: 20px 0;
  }
  .description {
    font-size: .9em;
    padding-bottom: 20px;
  }
}

#courses{
  padding: 0;
  text-align: center;
}

.add-padding-right {
  padding-right: $separator-between-courses/2;
}

.add-padding-left {
  padding-left: $separator-between-courses/2;
}
