@import '../../../../style/_imports.scss';


.row {
  padding: 10px;
}

.bold {
  font-weight: 700;
}

.description.text{
  text-align: center;
  padding: 0 20px;
  @include setStyleTablet {
    padding: 0 40px;
  }
}

#content{
  @include setStyleLarge {
    max-width: 1600px;
  }
}

.col-xl-6 {
  @include setStyleLarge {
    max-width: 47%;
  }
}

.interest {
  margin: 10px 0;

  @include setStyleLarge {
    margin: 10px 10px;
  }

  overflow: hidden;
  cursor: pointer;
  > .tile {
    padding: 0 10px;
    min-height: 100px;

    @include setStyleSmall {
      //min-height: 80px;
    }
    
    .text {
      color: $color-font;
//      font-weight: 700;
      font-size: 1.2em;
      padding-right: 100px;
      @include setStyleSmall {
        font-size: 0.7em;
      }
      @include setStyleTablet {
        padding: 50px 0;
        padding-right: 160px;
      }
      @include setStyleLarge {
        padding: 20px 0;
        padding-right: 160px;
        font-size: 1em;
      }
    }
    img {
      height: 90px;
      transform: rotate(-10deg);
      opacity: 70%;
      position: absolute;
      right: 0;
      @include setStyleTablet {
        height: 160px;
        width: 160px;
      }
    }
  }
}
