<app-header [text]='!!category ? category.text : "default"'></app-header>
<div class="heading margin">Pick your Interest</div>
<div class="container">
  <div class="row">
    <div *ngFor="let interest of interests" class="interest col-12 box shadows gradient" [ngClass]="colour" (click)="selectInterest(interest)">
      <div class="tile d-flex column align-items-center">
        <div class="text">{{ interest.text }}</div>
        <img src="{{ getPath(interest.resource) }}">
      </div>
    </div>
  </div>
</div>
<app-navigate-button text="default" destination="categories"></app-navigate-button>
