@import '../../../../_imports.scss';

* {
  color: $color-font;
}

.heading {
  text-align: center;
  padding: 15px;
  font-size: 1.3em;
}

.row {
  padding: 10px;
}

.interest {
  margin: 10px 0;
  cursor: pointer;

  > .tile {
    padding: 30px 10px;
    background-color: $color-images-background;
    .text {
      font-weight: 400;
    }
  }
}
