@import './_color-variables.scss';
@import './_mixins.scss';
@import './_variables.scss';

#content {
  max-width: $content-max-width;
  margin: 0 auto;
}

.box {
  border-radius: 10px;
  @include setStyleTablet {
    border-radius: 20px;
  }
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.col-12 {
  padding-left: 0px;
  padding-right: 0px;
}

.button {
  display: inline-block;
  margin: 0 20px;
  border-radius: 50px;
  min-height: $button-height;
  background-color: $color-button;
  @include gradient($color-button);

  color: $color-button-text;
  font-weight: 600;
  font-size: 100%;
  cursor: pointer;
  text-align: center;
  $vertical-padding: .7em;
  padding: $vertical-padding 1.2rem;
  //padding-top: $vertical-padding;
  //padding-bottom: $vertical-padding;
  &.special {
    background-image: unset;
    background-color: $color-blue;
  }
}

.red {
  $color: $color-red;
  background-color: $color;
  &.shadows {
    @include shadows($color);
  }
  &.gradient {
    @include gradient($color);
  }
}

.blue {
  $color: $color-blue;
  background-color: $color;
  &.shadows {
    @include shadows($color);
  }
  &.gradient {
    @include gradient($color);
  }
}

.yellow {
  $color: $color-yellow;
  background-color: $color;
  &.shadows {
    @include shadows($color);
  }
  &.gradient {
    @include gradient($color);
  }
}

.green {
  $color: $color-green;
  background-color: $color;
  &.shadows {
    @include shadows($color);
  }
  &.gradient {
    @include gradient($color);
  }
}

.margins {
  margin-top: 20px;
  margin-bottom: 10px;
  @include setStyleTablet {
    margin-top: 40px;
    margin-bottom: 20px;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  z-index: 400;
}

.heading {
  color: $color-font-dark;
  font-weight: 500;
  text-align: center;
  font-size: 120%;
  letter-spacing: 1px;
}


@media screen and (min-width: 1920px) {
  .heading {
    font-size: 28px;
  }
}

.subheading {
  color: $color-font-dark;
  font-weight: 500;
  text-align: center;
  font-size: 90%;
  letter-spacing: 1px;
}

.text {
  color: $color-font-dark;
  font-weight: 300;
  text-align: left;
  font-size: 100%;
  letter-spacing: 0;
}

.muted {
  @extend .text;
  font-size: 80%;
}

.transparent {
  color: transparent;
  background: transparent;
}

.hidden {
  display: none;
}

.holder {
  height: 1px;
  width: 1px;
  clear: both;
  margin: 0;
  padding: 0;
  border: 0;
}

b {
  font-weight: 800;
}

.cc-window.cc-banner {
  padding: 1.6em 1.8em
}
