<div id="question" *ngIf="!!question">

  <!-- Question text -->
  <div class="heading" *ngIf="question.pedagogical_type === 'task_question'">Your skills</div>
  <div class="question">
    <div class='dimension' *ngIf="question.pedagogical_type.split('dimension_')[1] !== undefined; else non_dimension">
      {{ question.pedagogical_type.split('dimension_')[1] }}
    </div>
    <ng-template #non_dimension>
      {{ question.question }}
      <span *ngIf="question.pedagogical_type === 'challenging_skill'"><br>(Select all that apply)</span>
    </ng-template>
    </div>
  <!-- End question text -->

  <!-- Answer -->
  <div class="answer" [ngSwitch]="question.type">
    <div class="error animated shake" *ngIf="error !== ''">{{ error }}</div>


    <!-- Slider option -->
    <div class="slider" *ngSwitchCase="'slider'">
      <div class="thumbs d-flex justify-content-between">
        <div class="far fa-thumbs-up fa-rotate-180 low"></div>
        <div class="far fa-thumbs-up high"></div>
      </div>

      <ng5-slider [value]='sliderProperties.value' [options]='sliderProperties.options' (valueChange)='retrieveAnswer($event)'></ng5-slider>

      <div class="instructions">
        Drag the slider to share your level of knowledge
      </div>
    </div>
    <!-- End slider option -->



    <!-- Single option -->
    <div class="single" *ngSwitchCase="'single'">
        <form>
            <div class="custom-control custom-radio" *ngFor="let answer of question.answers; let i = index">
              <input id="{{ i }}" type="radio" name="answer" class="custom-control-input" value="{{ i }}" (change)="retrieveAnswer($event.target.id)">

              <label class="answerOptions transition" [ngClass]="{error: error !== ''}" for="{{ i }}">
                <span class="checkbox"><i class="fas fa-check"></i></span>
                <span class="answerText">{{ answer }}</span>
              </label>
            </div>
        </form>
    </div>
    <!-- End single option -->



    <!-- Multiple option -->
    <div class="multiple" *ngSwitchCase="'multiple'">
      <form>
          <div class="custom-control custom-checkbox" *ngFor="let answer of question.answers; let i = index">
             <input id="{{ i }}" type="checkbox" name="answer" class="custom-control-input" value="{{ i }}" (change)="retrieveAnswerMultiple()">
             <label class="answerOptions transition" [ngClass]="{error: error !== ''}" for="{{ i }}">
              <span class="checkbox"><i class="fas fa-check"></i></span>
              <span class="answerText">{{ answer }}</span>
              </label>
          </div>
       </form>
  </div>
    <!-- End multiple option -->


  </div>
  <!-- End answer -->
</div>
