@import '../../../_imports.scss';

$padding: 10px;

#app-header {
  background-color: $color-header;
  color: $color-font;
  position: absolute;
  top: 0;
  width: 100vw;
  text-align: center;
  padding: $padding;
  font-family: 'Roboto';

  .more {
    position: absolute;
    left: $padding;
  }
}
