@import '../../../style/_imports.scss';

#media {
/*  width: 100vw; */
  overflow: hidden;
  background-color: $color-background;
  .image, vg-player {
    margin: 0 auto;
    width: 100%;
    max-width: $content-max-width;
    img {
      width: 100%;
    }
  }
  .text {
    position: absolute;
    top: 15%;
    left: 33%;
    width: 60%;
    font-size: 2.5vw;
    @include setStylePhone { font-size: 3vw; }
    @include setStyleTablet { font-size: 98%; }
    
    .heading {
      margin-bottom: 20px;
    }
    .content {
      @include setStyleLarge { font-size: 120%; }
      font-size: 100%;
      text-align: center;
    }
  }
  .image {
    position: relative;
  }
  vg-player {
    padding-bottom: 50px;
    vg-controls {
      background: $color-video-controls-background;
      > * {
        color: $color-video-controls;
      }
    }
  }
}

video::cue {
  font-size: 80%;
  font-weight: 600;
  font-family: 'Raleway';
  background-color: $color-subtitles-background;
  color: $color-subtitles;
}

.hide-control {
  @media screen and (max-width: $tablet-threshold) {
    display: none;
  }
}
