@import '../../../style/_imports.scss';

#media {
  width: 100vw;
  overflow: hidden;
  background-color: $color-background;
  img, vg-player {
    margin: 0 auto;
    width: 100%;
    max-width: $content-max-width;
  }
}

video::cue {
  font-size: 80%;
  font-weight: 600;
  font-family: 'Raleway';
  background-color: $color-subtitles-background;
  color: $color-subtitles;
}
