@import '../../../../style/_imports.scss';

.pole {
  background-image: linear-gradient(to right, grey, white, grey);
  width: 50px;
  max-width: 20px;
  padding: 0;
  &.top {
    height: 10px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
  }
  &.base {
    height: 50px;
  }
}
.sign {
  padding-bottom: 20px !important;
  .text{
    background-color: aquamarine;
  }
  .arrow {
    border: $color-transparent solid 20px;
    background-color: $color-transparent;
    width: 0px;
    height: 100%;
  }
  &.left {
    .text {
      padding-right: 10px;
    }
    >.arrow {
      border-right-color: aquamarine;
    }
  }
  &.right {
    .text {
      padding-left: 10px;
    }
    >.arrow {
      border-left-color: aquamarine;
    }
  }
}
.col {
  padding: 0;
}
