@import '../../../../_imports.scss';


#content {
  color: $color-font-dark;
  text-align: center;
  margin: 50% 0;
  padding: 0 20px;
  font-size: 120%;
  .currentScenario {
    margin-top: 20px;
  }
}
