<app-header [text]='!!category ? category.text : "default"'></app-header>
<div id="content">
  <div class="previousScenario text" *ngIf="previousScenarioText !== ''">
    {{ 'That\'s the end of the ' + previousScenarioText + ' scenario' }}
  </div>

  <div id="media-container">
    <app-media [resource]=assistantAsset [texts]=imageTexts></app-media>
  </div>



    <div class="text">
      <div *ngIf="this.scenarioIndex <= 0; else elseBlock">
        <div class="heading">The scenarios will check your Skills related to:</div>
        <div class="features container-fluid">
          <div class="row">
            <div class="col">
              <div class="row icon d-flex justify-content-center">
                <div class="box">
                  <fa-icon [icon]="faLaptop"></fa-icon>
                </div>
              </div>
              <div class="row text d-flex justify-content-center">
                Computers
              </div>
            </div>
              <div class="col">
                <div class="row icon d-flex justify-content-center">
                  <div class="box">
                    <fa-icon [icon]="faCalculator"></fa-icon>
                  </div>
                </div>
                <div class="row text d-flex justify-content-center">
                  Maths
                </div>
              </div>
              <div class="col">
                <div class="row icon d-flex justify-content-center">
                  <div class="box">
                    <fa-icon [icon]="faBookOpen"></fa-icon>
                  </div>
                </div>
                <div class="row text d-flex justify-content-center">
                  Reading and Writing
                </div>
              </div>
            </div>
          </div>
          <br/>
          <div class="heading">Each scenario will take about <b>2 minutes</b>.</div>
          <br/>
          <div class="heading">You will watch the video and answer the questions beneath the video. </div>
          <br/>
          <div class="heading">Click <b>Let's Go</b> to begin!</div>
      </div>
      <ng-template #elseBlock>
        <img class="ballons" src="../../../../assets/balloons/balloons-bbb.svg" alt="">
        <br>
        <div class="heading">Click <b>Continue SkillCheck</b> to go to <b>Scenario {{ scenarioIndex + 1 }}</b></div>
      </ng-template>
  </div>
</div>
<div class="footer">
  <app-navigate-button
  backText="{{ btnBack }}"
  forwardText="{{ btnForward }}"
  (backEvent)="previousScenario()"
  (forwardEvent)="startScenario()"
  ></app-navigate-button>
</div>
