// All colors MUST be defined here
// General
$color-yellow: #FCB64C;
$color-green: #3FBDA8;
$color-red: #ED6B4C;
$color-blue: #2E3C67;
$color-grey: #AAABAC;
$color-black: #5D5E5F;
$color-white: #F2F3F3;
$color-blue-light: #586385;
$color-grey-dark: #62717A;
$color-grey-light: #C4D0D9;
$color-grey-lighter: #E0E6EB;

// Components
$color-button: $color-green;
$color-button-disabled: $color-grey-light;
$color-button-text: $color-white;
$color-button-text-disabled: $color-grey;

// Font
$color-font: $color-white;
$color-font-dark: $color-grey-dark;

// Background
$color-background: $color-white;
$color-background-secondary: $color-grey;
$color-background-dark: $color-grey-dark;
$color-background-light: $color-grey-light;

// Images
$color-images-background: $color-grey;
