// All colors MUST be defined here
// General
$color-grey: #dae0e8;
$color-grey-dark: #798086;
$color-black: #000000;
$color-white: #ffffff;

// Components
$color-header: $color-grey;
$color-button: $color-grey-dark;

// Font
$color-font: $color-grey-dark;
$color-font-light: $color-white;

// Background
$color-background: $color-white;
$color-background-secondary: $color-grey;
$color-background-dark: $color-grey-dark;

// Images
$color-images-background: $color-grey;
