@import './_imports.scss';
@import './_fonts.scss';

body{
  font-family: 'Raleway';
  font-style: normal;
  font-weight: lighter;
  background-color: $color-background;
  padding: 0 0 $bottom-height 0;
}
