@import './_imports.scss';
@import './_fonts.scss';
@import '../node_modules/normalize.css/normalize.css';

body{
  font-family: 'Raleway';
  font-style: normal;
  font-weight: lighter;
  font-size: 1em;
  background-color: $color-background;
  padding: 0;
  padding-bottom: $bottom-height;
  @include setStyleTablet {
    font-size: 1.5em;
    padding-bottom: $bottom-height * 2;
  }
}
// Safari Bootstrap fix
.row:before, .row:after {
  display: inline-block;
}
